body {
	font-family: "open sans", sans-serif;
	line-height: 1.75;
}
    

@media (max-width: 991px) {
  .navbar-scroll {
    background-color: #fff;
  }
}      
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navbar-brand,
.navbar-scroll .navbar-sub {
  color: #fff;
}
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scrolled .navbar-brand, 
.navbar-scroll .navbar-sub {
  color: #4f4f4f;
}
@media (min-width: 768px) and (max-width: 800px) {
  #intro {
    height: 100vh;
  }
}
@media (min-width: 850px) {
  #intro {
    height: 100vh;
  }
}

.display{
  display: block;
}
.hidden {
  display: none!important;
}
.card {
	    border-radius: 8px;
}

      .page-header {
        padding: 0;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: 50%;
      }
      .min-vh-85 {
        min-height: 85vh;
      }
      .border-radius-section {
        border-radius: 10rem;
      }
      .border-top-start-radius-0 {
        border-top-left-radius: 0;
      }
      .border-top-end-radius-0 {
        border-top-right-radius: 0;
      }
      .border-bottom-end-radius-0 {
        border-bottom-right-radius: 0;
      }
      .z-index-0 {
        z-index: 0;
      }
      .blur {
        -webkit-backdrop-filter: saturate(200%) blur(30px);
        backdrop-filter: saturate(200%) blur(30px);
        background-color: hsla(0,0%,100%,.8);
      }
      .text-gradient.text-gradient-primary {
        background-image: linear-gradient(310deg,#023591,#7c2eb2);
      }
      .text-gradient {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        z-index: 1;
      }
      .btn.bg-gradient-primary {
        color: #fff;
      }
      .bg-gradient-primary {
        background-image: linear-gradient(310deg,#023591,#7c2eb2);
      }
      
      .responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.form-label.json-result {
	word-wrap: break-word;
}

.navbar-brand-subhead {
	text-align: right;
	margin-right: 1rem;
	color: #9f9f9f;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navbar-brand,
.navbar-scroll .navbar-sub {
  color: #fff;
}
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scrolled .navbar-brand, 
.navbar-scroll .navbar-sub {
  color: #9f9f9f;
}

.navbar-nav .nav-item a.nav-link, .navbar-nav .nav-item a.nav-link, .navbar-nav .nav-item a.nav-link:active, .navbar-nav .nav-item a.nav-link:visited {
	color:#fff;
}

.navbar-nav .nav-item a.nav-link:hover {
	-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #9f9f9f;
}

.un-input-box {
	height: 66px;
	text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: 0.625rem 1.5rem 0.5rem;
    font-size: .75rem;
    line-height: 1.5;
    background-color: #fbfbfb;
    border-radius: 0.25rem;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-image: linear-gradient(310deg,#023591,#7c2eb2);
}

.navbar-overlay {
    margin-bottom: -70px; 
    z-index: 1;
}

h5 {
	font-weight: 600;
}


h3 {
	font-weight: 700;
}


	.annotate {
		text-transform: uppercase;
	    vertical-align: bottom;
	    border: 0;
	    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
	    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
	    font-weight: 500;
	    padding: 0.625rem 1.5rem 0.5rem;
	    font-size: .75rem;
	    line-height: 1.5;
		 display: inline-block;
	    color: #4f4f4f;
	    text-align: center;
	    text-decoration: none;
	    vertical-align: middle;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-color: transparent;
	    border-radius: 5px;
	    font-weight: 700;
		}
		
	h2.input-h2 {
		line-height: 1;
	}

.bg-image	{
      	height: 860px;
  	}
  	
.username-card-1 {
	background-color: #333; min-height: 390px; height: auto;
	}
	
.bdm-img-1 {
	position: relative; left: 20px;
}

.bdm-img-2 {
	position: relative; left: 24px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	.annotate {
		text-transform: uppercase;
	    vertical-align: bottom;
	    border: 0;
	    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
	    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
	    font-weight: 500;
	    padding: 0.625rem 1rem 0.5rem;
	    font-size: .6rem;
	    line-height: 1.5;
		 display: inline-block;
	    color: #4f4f4f;
	    text-align: center;
	    text-decoration: none;
	    vertical-align: middle;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    background-color: transparent;
	    border-radius: 5px;
	    font-weight: 700;
	
	}
	
	h2.input-h2 {
		line-height: .8;
	}
	
	.Typewriter__cursor {
		position: relative;
		top: 5px;
	}
	
	.un-input-box {
		height: 50px;
	}
	
	p.violation, p.violation-2 {
		font-size: 14px;
	}
	
	html, body, header, .jarallax {
		height: 120vh;
	}
	
	.bg-image	{
      	height: 1010px;
  	}
  	
	.username-card-1 {
	background-color: #333; min-height: 360px; height: auto;
	}
	
	.bdm-img-1 {
		position: relative; left: 0;
	}
	
	.bdm-img-2 {
		position: relative; left: 4px;
	}

}


.bmd-pink {
	background-color: #f01d56;
}

.bmd-blue {
	background-color: #00aefb;
	
}

.bmd-dpurple {
	background-color: #59007f;
	
}

.bmd-grey {
	background-color: #626061;
	
}

.bmd-purple {
	background-color: #492fcb;
	
}

.annotate-label {
	font-weight: 600;
	color: #fff;
}

.annotate.no-harm {
	color: #fff;
    background-color: #626061;
}

.annotate.inappropriate {
    color: #fff;
    background-color: #492fcb;
}

.annotate.offensive {
	color: #fff;
    background-color: #023591;
}

.annotate.profanity {
	color: #fff;
    background-color: #59007f;
}

.annotate.sexual {
	color: #fff;
	background-color: #f01d56;
}

.text-inappropriate {
	color: #492fcb;
}

.text-offensive {
	color: #023591;
}

.text-profanity {
	color: #59007f;
}

.text-sexual {
	color: #f01d56;
}


input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff;
}
input[type=text]::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}
input[type=text]:-ms-input-placeholder { /* IE 10+ */
	color: #fff;
}
input[type=text]:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}

.form-control {
    color: #fff!important;
}

.form-label {
	line-height: 1.5;
}

.form-control:focus {
	border-color: #C2027B!important;
    -webkit-box-shadow: inset 0 0 0 1px #C2027B!important;
    box-shadow: inset 0 0 0 1px #C2027B!important;
}

.form-outline .form-control:focus~.form-label {
	color: #C2027B!important;
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
	border-top: 0.125rem solid #C2027B;
    border-bottom: 0.125rem solid #C2027B;
    border-left: 0.125rem solid #C2027B;
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
	border-bottom: 0.125 rem solid;
    border-color: #C2027B;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
	border-top: 0.125rem solid #C2027B;
    border-bottom: 0.125rem solid #C2027B;
    border-right: 0.125rem solid #C2027B;
}

.form-check-input:checked {
    border-color: #C2027B;
}

.form-check-input:checked:focus {
    -webkit-box-shadow: 0 0 0 0.25rem rgb(194 2 123 / 25%);
    box-shadow: 0 0 0 0.25rem rgb(194 2 123 / 25%);
    
    border-color: #C2027B;
}

.form-check-input[type=radio]:checked:after {
	border-color: #C2027B;
    background-color: #C2027B;
	
}
 
.form-check-input:checked:focus:before {
	 -webkit-box-shadow: 0 0 0 13px #C2027B;
    box-shadow: 0 0 0 13px #C2027B;
}

.Typewriter__wrapper {
	position: relative;
    top: 3px;
}
 
.logo-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.annotate-bmd {
    vertical-align: bottom;
    border: 0;
    color: #fff!important;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: 0.3rem .5rem 0.3rem;
    font-size: 1rem;
    line-height: 1;
	 display: inline-block;
    color: #4f4f4f;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border-radius: 5px;
    font-weight: 700;
}

.bmd-pink {
	background-color: #f01d56;
}

.bmd-blue {
	background-color: #00aefb;
	
}

.bmd-dpurple {
	background-color: #59007f;
	
}

.bmd-grey {
	background-color: #626061;
	
}

.bmd-purple {
	background-color: #492fcb;
	
}

.border-purp {
	border-color: #7c2eb2!important;
}


/** CHAT BOX STYLES **/


::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}
.chatbox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    border-radius: 8px;    
}
.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #2f323b;
    overflow: auto;
}
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #40434e;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #40434e;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: #2671ff;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.chat-input input[good] + button path {
    fill: white;
}
.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.msg-box {
    display: flex;
    background: #5b5e6c;
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: #2671ff;
    float: right;
}
.msg-self .user-img {
    margin: 0 0 10px 10px;
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}


a.chat-link, a.chat-link:link {
	color: #fff!important;
	text-decoration: underline;
	font-weight: bold;	
}

a.footer-link, a.footer-link, a.footer-link:active, a.footer-link:visited {
	color: #757575!important;
    transition: all 0.15s ease-in-out;
}

a.footer-link:hover {
	opacity: .8;
}

.btn-pink {
	background-color: #C2027B;
    transition: all 0.15s ease-in-out;
}

.form-label {
	color: #fff;
}

.form-outline .form-control:focus {
	color: #C2027B;
}

.form-outline .form-control:focus~.form-label {
	color: #fff;
}

.btn-pink.focus, .btn-pink:focus, .btn-pink:hover {
	opacity: .8;
}

@media (max-width: 1195px) {
         
        }
        
 @media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .75rem;
    padding-left: .75rem;
	}
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	background-color: transparent;
}
